body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(bg2.jpg);
  background-position: center;
  height: 100vh;
  line-height: 1.6;
  color: #fff;
  background-size: cover;
}

header {
  background-color: #111010;
  color: #fff;
  text-align: center;
  padding: 10px;
  background-size: cover;
  background-position: center;
}

header h1 {
  font-size: 36px; /* Aumentar o tamanho da fonte */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adicionar uma sombra sutil */
  transition: transform 0.3s ease; /* Adicionar uma transição suave */
}

header h1:hover {
  transform: scale(1.1); /* Aumentar ligeiramente o tamanho ao passar o mouse */
}


nav {
  background-color: #333;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

section {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.texto .botoes {
  margin-top: 30px;
}

.texto .botoes button {
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: 0;
  margin: 0 10px;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.texto .botoes button.n-overlay {
  color: white;
  background: none;
  border: 2px solid white;
}

.texto .botoes button.n-overlay:hover {
  color: black;
  background-color: white;
}

.texto .botoes button.overlay {
  background: white;
  color: black;
}
